@model ImagePlatform.Models.ImageData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ImageData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapturedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapturedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapturedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapturedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geolocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geolocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageTags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageTags)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ImageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
